

  body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body.loaded {
  overflow-y: auto;
}



/*logos door opening*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
}
.overlay .overlayDoor:before, .overlay .overlayDoor:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #111;
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1); /*doors opening*/
  transition-delay:3.3s;
}
.overlay .overlayDoor:before {
  left: 0;
}
.overlay .overlayDoor:after {
  right: 0;
}
.overlay.loaded .overlayDoor:before {
  left: -50%;
}
.overlay.loaded .overlayDoor:after {
  right: -50%;
}
.overlay.loaded .overlayContent {
  opacity: 0;
  margin-top: -15px;
}

.overlay .overlayContent {

   transition-delay:3.3s ;/*logo fades out*/
}


/*front cover logo*/
.wrapper {
            position: absolute;
            width: 500px; /* size of logo*/
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            text-align: center;

          }

.st1 {
        stroke: #fff;
        fill:#212121;
        stroke-dasharray:300;
        opacity: 10;
        animation: animate1 3s cubic-bezier(0,0.23,1,.1);}

        @keyframes animate1 {
            0%{
                  opacity:0;
                  fill: none;
                  stroke-dashoffset:300 ;}

            30%{  opacity:10;
                  fill:none;
                  stroke-dashoffset:300 ;}

            90%{
                  fill:rgba(255,255,255,0);}

            100%{
                  fill:rgba(255,255,255,1);
                  stroke-dashoffset: 0;}}

  .st0 {
        stroke: #fff;
        fill:#fff;
        stroke-dasharray:650;
        opacity: 10;
        animation: animate2 3s cubic-bezier(0,0.23,1,.1);}



             @keyframes animate2 {
              0%{
                opacity:0;
                fill: none;
                stroke-dashoffset:650 ;}

              30%{  opacity:10;
                    fill:none;
                    stroke-dashoffset:650 ;}

              90%{
                    fill:rgba(255,255,255,0);
                  }

              100%{
                    fill:rgba(255,255,255,0);
                    stroke-dashoffset: 0;}}
/*End logos front doors closing*/

/* Navigation */

#navBar {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 80px;
  background: #2D2D2D;
  box-shadow: 0px 0px 10px #2d2d2d;
  z-index: 9999;
}


/* Name on Nav Bar */

.imglogo {
padding-left: 20px;
padding-top: 9px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 7em;
  font-family: arial;
  letter-spacing: .3em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


/* drawer menu */

.drawer-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 120px 0;
  background: #222;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: perspective(500px) rotateY(-90deg);
  transform: perspective(500px) rotateY(-90deg);
  opacity: 0;
  box-shadow: 0px 0px 5px #1E1E1E;
}

.drawer-menu li {
  text-align: center;
}

.drawer-menu li a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.drawer-menu li a:hover {
  color: #1a1e24;
  background: #96908D;
}


/* checkbox */

.check {
  display: none;
}


/* menu button - label tag */

.menu-btn {
  position: fixed;
  display: block;
  top: 28px;
  right: 40px;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 1px;
  background: white;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.bar.middle {
  top: 12px;
  opacity: 1;
}

.bar.bottom {
  top: 24px;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}

.menu-btn__text {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: block;
  visibility: visible;
  opacity: 1;
}


/* Hover Effects */

.menu-btn:hover .bar {
  background: white;
}

.menu-btn:hover .menu-btn__text {
  color: #999;
}

.close-menu {
  position: fixed;
  top: 0;
  right: 300px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}


/* checked */

.check:checked ~ .drawer-menu {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
  z-index: 2;
}

.check:checked ~ .contents {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px);
}

.check:checked ~ .menu-btn .menu-btn__text {
  visibility: hidden;
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.top {
  width: 56px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
  width: 56px;
  top: 40px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.check:checked ~ .close-menu {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  background: rgba(0, 0, 0, .5);
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

/*header for my picture*/
.header {
  background: url("../images/lina_11.jpg") center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}


.header .darken {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*about section in homepage*/

.about{text-align: center;
padding: 50px;}

.aboutp{
  padding-left: 70px;
  padding-right: 70px;
  font-family:'Open Sans';
  font-style: normal;
  font-weight: normal;
  color:black;
}



.underscore {
  position: relative;
  top:-28px;
}





/*section with skill 2 ideaa, UX/UI, Code*/
.skill2white{

  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 3.75rem;
  letter-spacing: 5px;
  background:white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
@media screen and (min-width: 37.5em) {
  .skill2white {
    font-size: 4.75rem;
  }
}

/*
.skill2 p{
  padding-left: 70px;
  padding-right: 70px;
  font-family:'Open Sans';
  font-style: normal;
  font-weight: normal;
  color:white;
}*/
.skillnameunderscore {
  position: relative;
  top:-15px;
}

.skill2{background-color:#2D2D2D;
color:white;
text-align: center;
padding-top: 50px;
width:100%;

}

i{color:white;}
.skillp{
  color:white;
  padding: 30px;
}

h4{
  padding-top: 30px;
  margin-bottom: 25px;
  font-family:'Open Sans';
  font-style: normal;
  font-weight: bold;
    font-size: 30px;
}

.fillin {

  position: relative;

  padding: 30px;
  font-family: 'Open Sans';
  font-size: 12px;
  color: #fff;
  width: 400px; /*black box*/
  margin: 20px auto;
}
ul {
  padding-top: 50px;
}
ul > li {
  margin-bottom: 70px;
  background: #000;
  height: 5px;
  border-radius: 3px;
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
ul > li em {
  font-family:'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color:white;
  position:relative;
  left:-130px;
  top: -30px;
}
ul > li span {
  height: 1px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
    left:30px;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
}
.html5 {
  width: 70%;
  animation: html5 2s ease-out;
}
.css3 {
  width: 90%;
  animation: css3 2s ease-out;
}
.jquery {
  width: 50%;
  animation: jquery 2s ease-out;
}
.photoshop {
  width: 60%;
  animation: photoshop 2s ease-out;
}
@keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes css3 {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes photoshop {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}







/*case studies*/
{
  box-sizing: border-box;
}



.title {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 3.75rem;
  letter-spacing: 5px;
  background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
@media screen and (min-width: 37.5em) {
  .title {
    font-size: 4.75rem;
  }
}





.case-study-gallery {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto;
  max-width: 1100px;
}

.case-study {
  position: relative;
  display: block;
  width: 90%;
  height: 250px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all .4s ease;
}
@media screen and (min-width: 37.5em) {
  .case-study {
    height: 300px;
  }
}
@media screen and (min-width: 45em) {
  .case-study {
    display: inline-block;
    width: 45%;
    margin-left: 25px;
  }
}

.case-study__img {
  width: 90%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto;
}

.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.case-study__overlay:after {
  content: '';
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .3s ease;
}

.case-study__title {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.25rem;
  font-family: 'Oswald';
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);

}

.case-study__link {
  position: relative;
  display: block;
  width: 60%;
  top: 200px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Oswald';
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);

}
.case-study__link:hover {
  background-color: white;
  color: #202020;

}

.case-study:hover .case-study__title {
  top: 0;

}
.case-study:hover .case-study__link {
  top: 0;

}
.case-study:hover .case-study__overlay:after {
  opacity: .75;

}

.study1 {
  background-image: url("../images/webdevelopment1.jpg");

}

.study2 {
  background-image: url("../images/photography.jpg");
}

.study3 {
  background-image: url("../images/digitalart.jpg");
}

.study4 {
  background-image: url("../images/paint.jpg");
}

.study5 {
  background-image: url("http://publicdomainarchive.com/wp-content/uploads/2014/06/public-domain-images-free-stock-photos-high-quality-resolution-downloads-unsplash0067-1000x666.jpg");
}

.study6 {
  background-image: url("http://www.bedlammag.com/wp-content/uploads/2014/04/unsplash-love-yourself-article-e1397699812178.jpg");
}





a{
     text-decoration: none;
     color: #fff;
     letter-spacing: 4px;
     font-size: 12px;
     text-transform: uppercase;
     padding: 16px 42px;}

a.link {border: 2px solid #fff;}
 a.link:hover {color: #fff; background: #555;}















/* footer
footer p {

      color: grey;
      margin: 30px auto;
      bottom: 0px;
}

*/


@charset "UTF-8";

.contact-panel-button {
  background: #0a0a0a;
  color: #fefefe;
  width: auto;
  padding: 0.25rem 1.25rem;
  text-align: center;
  position: absolute;
  top: -30px;
  right: 20px;
  transition: background 0.25s ease-in-out;
  z-index: 5;
}

.contact-panel-button:after {
  content: "тег";
  margin-left: 5px;
}

.contact-panel-button:hover {
  background: #242424;
  color: #f0f0f0;
}

.is-active .contact-panel-button:after {
  content: "тее";
}

.contact-panel {
  padding: 1rem;
  z-index: 1;
  background: #0a0a0a;
  width: 550px;
  height: 675px;
  position: fixed;
  bottom: -675px;
  right: 35px;
  transition: bottom 0.5s ease-in-out;
}

.contact-panel label {
  color: #fefefe;
  width: 100%;
}

.contact-panel input[type="text"],
.contact-panel input[type="email"],
.contact-panel textarea {
  background: #303030;
  border: #0a0a0a;
  transition: background 0.3s ease-in-out;
}

.contact-panel input[type="text"]:focus,
.contact-panel input[type="email"]:focus,
.contact-panel textarea:focus {
  background: #fefefe;
}

.contact-panel .contact-panel-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-panel .submit-button {
  margin-bottom: 0;
}

.contact-panel .cancel-button {
  margin-bottom: 0;
  padding: 0.75rem 1rem;
  color: #fefefe;
  transition: background 0.25s ease-in-out;
}

.contact-panel .cancel-button:hover {
  background: #242424;
  color: #f0f0f0;
}

.contact-panel.is-active {
  bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .contact-panel {
    width: 100%;
    right: 0;
  }
}
